.map-image {
    position: relative;
    display: inline-block;
    width: 100%;
}
.map-image:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.map-image:after {
    width: 0;
    height: 0;
    top: 100%;
    left: 0;
    content: ' ';
    position: absolute;
    border: 16px solid;
    border-color: #656E8D transparent transparent transparent;
}

.map-image img {
    width: 100%;
}

.text-right {
    text-align: right;
}

.maps-list {
    display: flex;
    flex-flow: row wrap;
}
.small-map {
    flex: 1 0 30%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin: 5px;
}
.map-title {
    text-align: center;
    margin: 0 !important;
}
.map-body {
    padding: 5px;
    text-align: center;
}

.map-records {
    display: flex;
}
.map-record {
    flex: 1 0 0;
}

.table {
    margin: 0 auto;
    display: inline !important;
}
.table th {
    border: 0 !important;
    border-bottom: 2px solid #dee2e6 !important;
}
.table td, .table tr {
    border: 0 !important;
}

#book-search-results {
    padding: 5px;
    font-size: small;
    font-weight: bold;
}

.book-footer {
    text-align: center;
    line-height: 2;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.menu-icon {
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

li.page-item.active {
    border: 1px solid #05b;
    border-radius: 25px;
}
