/* Map Page */
.category-icon {
    vertical-align: middle;
    height: 50px;
}

.map-image {
    position: relative;
    display: inline-block;
    width: 100%;
}
.map-image-rev:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.map-image-rev:after {
    width: 0;
    height: 0;
    top: 100%;
    left: 0;
    content: ' ';
    position: absolute;
    border: 16px solid;
    border-color: #656E8D transparent transparent transparent;
}

.map-image img {
    width: 100%;
}

.maps-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media(max-width: 540px){
    .maps-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
.small-map {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin: 5px;
}
.map-title {
    text-align: center;
    margin: 0 !important;
}
.map-body {
    padding: 5px;
    text-align: center;
}

.map-records {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.map-record {
    flex: 1 0 0;
}

/* Player Profile */
.player-completions {
    display: none;
}

.completions-toggle {
    cursor: pointer;
}

/* Toplist */
.section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section {
}

/* Tables */
.table {
    margin: 0 auto;
    display: inline !important;
}
.table th {
    border: 0 !important;
    border-bottom: 2px solid #dee2e6 !important;
}
.table td, .table tr {
    border: 0 !important;
}

/* Search */
#book-search-results {
    padding: 5px;
    font-size: small;
    font-weight: bold;
}

.book-search-holder {
    color: var(--body-font-color);
    position: absolute;
    width: 100%;
    padding: 0.5rem;
    left: 0;
    font-size: 100%;
}

.book-search-subholder {
    font-size: 80%;
    opacity: 0.7;
}

/* Page Items */
.book-footer {
    text-align: center;
    line-height: 2;
}

ul.pagination {
    padding: 0;
}

/* General */
.text-right {
    text-align: right;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* Menu */
.menu-icon {
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
li.page-item.active {
    border: 1px solid #05b;
    border-radius: 25px;
}
.menu-children {
    display: none;
}
.menu-toggle {
    margin-left: 5px;
    cursor: pointer;
}
aside nav ul a {
    display: inline !important;
}

/* Arrows */
.arrow {
    border: solid var(--body-font-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
    em {
        margin-left: 10px;
        font-size: 1rem;
    }
}
.theme-switch-wrapper-fs {
    justify-content: flex-end;
}
@media screen and (max-width: $mobile-breakpoint) {
    .theme-switch-wrapper-fs {
        display: none;
    }
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.theme-switch input {
    display:none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
input:checked + .slider {
    background-color: #66bb6a;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Dark Theme */
[data-theme="dark"] {
    --gray-100: rgba(255, 255, 255, 0.1);
    --gray-200: rgba(255, 255, 255, 0.2);
    --gray-500: rgba(255, 255, 255, 0.5);
  
    --color-link: #6A8ECC; /* #84b2ff */
    --color-visited-link: #9370CC; /* #b88dff */
  
    --body-background: #1F2326; /* #343a40 */
    --body-font-color: #C6C9CC; /* #e9ecef */
  
    --icon-filter: brightness(0) invert(1);
  
    --hint-color-info: #6bf;
    --hint-color-warning: #fd6;
    --hint-color-danger: #f66;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 11px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--body-font-color) var(--body-background);
}
*::-webkit-scrollbar-track {
    background: var(--body-background);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--body-font-color) ;
    border-radius: 6px;
    border: 3px solid var(--body-background);
}
