<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
      {{ $num := 0 }}
      {{ $last_time := 0 }}
      {{ range $idx, $rec := first 5 (sort . "time" "asc") }}
      {{ if ne $rec.time $last_time }}
        {{ $num = add 1 $num }}
      {{ end }}
      <tr>
        <td scope="row">{{ $num }}</td>
        <td><a href="/players/{{ (replace $rec.name "#" "%23") }}/">{{ replace (humanize $rec.name) " " "_" }}</a></td>
        {{ if hasPrefix $rec.link "#" }}
        <td>{{ printf "%.2f" (div $rec.time 100) }}</td>
        {{ else }}
        <td><a href="{{ $rec.link }}" rel="noreferrer" target="_blank">{{ printf "%.2f" (div $rec.time 100) }}</a></td>
        {{ end }}
      </tr>
      {{ end }}
  </tbody>
</table>