{{ if and (and (eq .Kind "page") .Params.categories) (ne "0" .File.BaseFileName) }}
    {{ with $map := index $.Site.Data.maps .File.BaseFileName }}
    <div class="markdown book-post small-map">
        <a href="{{ $.RelPermalink }}">
            <img src="{{ $map.img }}">
        </a>

        <div class="map-body">
            <h2 class="map-title">
                <a href="{{ $.RelPermalink }}">@{{ $.File.BaseFileName }}</a>
            </h2>

            {{ partial "records" $map.records }}
        </div>
    </div>
    {{ end }}
{{ end }}