{{ define "main" }}
  {{ $name := (replace (lower .Title) "/" "-") }}
  {{ $cat := index $.Site.Data.categories $name }}
  {{ if $cat }}
    <h1>
      <img class="category-icon" src="{{ $cat.icon }}" />
      {{ $cat.title }} <sup>{{ len .Pages }}</sup>
    </h1>
  {{ else }}
    <h1>{{ .Title }} <sup>{{ len .Pages }}</sup></h1>
  {{ end }}

  {{ if and $cat $cat.note }}
  <p class="map-notes">{{ $cat.note | safeHTML }}</p>
  {{ end }}

  <div class="maps-list">
    {{ range $i, $page := sort .Paginator.Pages }}
        {{ partial "small-map" $page }}
    {{ end }}
  </div>

  {{ partial "docs/pagination" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
