{{ define "main" }}
  {{ $name := (replace (lower .Title) "/" "-") }}
  {{ $cat := index $.Site.Data.categories $name }}
  {{ if $cat }}
    <h1>
      <img class="category-icon" src="{{ $cat.icon }}" />
      {{ $cat.title }} <sup>{{ len .Pages }}</sup>
    </h1>
  {{ else }}
    {{ if eq .Data.Singular "author" }}

    <h1>{{ replace (humanize .Title) " " "_" }} <sup>{{ len .Pages }}</sup></h1>

    {{ $player := index $.Site.Data.players $name }}
    {{ if $player }}
    {{ $playerurl := lower (replace $name "#" "%23") }}
    <a href="/players/{{ $playerurl }}/">Profile</a>
    {{end}}

    {{ else }}

    <h1>{{ .Title }} <sup>{{ len .Pages }}</sup></h1>

    {{ end }}
  {{ end }}

  {{ if and $cat $cat.note }}
  <p class="map-notes">{{ $cat.note | safeHTML }}</p>
  {{ end }}
  
  {{ partial "docs/pagination" . }}

  <div class="maps-list">
    {{ range (.Paginate (sort .Pages "Params.mapid" "asc")).Pages }}
      {{ partial "small-map" . }}
    {{ end }}
  </div>

  {{ partial "docs/pagination" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
