
{{ $banlist := dict }}
{{ range $name, $info := .Site.Data.banlist }}
  {{ $banlist = merge $banlist (dict $name (merge $info (dict "name" $name))) }}
{{ end }}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Reason</th>
      <th scope="col">By</th>
      <th scope="col">Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Days</th>
    </tr>
  </thead>
  <tbody>
    {{ range $name, $info := (sort $banlist "start_date" "asc") }}
      {{ $end_date := add (int $info.start_date) (mul 86400 (int $info.days)) }}
      {{ if lt now.Unix $end_date }}
      <tr>
        <td>{{ replace (humanize $info.name) " " "_" }}</td>
        <td>{{ $info.reason }}</td>
        <td>{{ $info.auth }}</td>
        <td class="date-convert">{{ $info.start_date }}</td>
        <td class="date-convert">{{ $end_date }}</td>
        <td>{{ $info.days }}</td>
      </tr>
      {{ end }}
    {{ end }}
  </tbody>
</table>
