
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Reason</th>
      <th scope="col">By</th>
      <th scope="col">Date</th>
      <th scope="col">Days</th>
    </tr>
  </thead>
  <tbody>
    {{ range $name, $info := .Site.Data.banlist }}
      <tr>
        <td>{{ $name }}</td>
        <td>{{ $info.reason }}</td>
        <td>{{ $info.auth }}</td>
        <td class="date-convert">{{ $info.start_date }}</td>
        <td>{{ $info.days }}</td>
      </tr>
    {{ end }}
  </tbody>
</table>
