{{ with $map := index $.Site.Data.maps .Page.File.BaseFileName }}

    <h1>@{{ $.Page.File.BaseFileName }} <sup>{{ $map.category }}</sup></h1>
    <div class="map-image">
        <img src="{{ $map.img }}">
    </div>

    <div class="map-records">
        <div class="map-record">
            <h2>Records</h2>
            {{ partial "records" $map.records }}
        </div>

        <div class="map-record text-right">
            <h2>Reversed</h2>
            {{ partial "records" $map.recordsFlipped }}
        </div>
    </div>

{{ else }}

    <a href="#report">Report this map</a>

{{ end }}