{{ with $map := index $.Site.Data.maps .Page.File.BaseFileName }}

    {{ $cat := index $.Site.Data.categories (lower $map.category) }}
    <h1>@{{ $.Page.File.BaseFileName }} <sup>{{ if $cat }}{{ $cat.title }}{{ else }}{{ $map.category }}{{ end }}</sup></h1>
    <div class="map-image">
        <img src="{{ $map.img }}">
    </div>

    <div class="map-records">
        <div class="map-record">
            <h2>Records</h2>
            {{ partial "records" $map.records }}
        </div>

        <div class="map-record text-right">
            <h2>Reversed</h2>
            {{ partial "records" $map.recordsReversed }}
        </div>
    </div>

{{ else }}

    <a href="https://discord.gg/2WNNURP" target="_blank">Report this map on Discord</a>

{{ end }}