{{ with $map := index $.Site.Data.maps .Page.File.BaseFileName }}

    {{ $field1 := "Records" }}
    {{ $field2 := "Reversed" }}

    {{ if eq $map.category "parkour" }}
        {{ $field1 = "New Checkpoint" }}
        {{ $field2 = "Old Checkpoint" }}
    {{ end }}

    {{ $cat := index $.Site.Data.categories (lower $map.category) }}
    {{ $caturl := (replace (lower $map.category) "-" "/") }}
    <h1>@{{ $.Page.File.BaseFileName }} <sup>{{ if $cat }}<a href="/categories/{{ $caturl }}">{{ $cat.title }}</a>{{ else }}{{ $map.category }}{{ end }}</sup></h1>
    <div class="map-image{{ if ne $map.category "parkour" }} map-image-rev{{ end }}">
        <img class="map-img" src="{{ $map.img }}">
    </div>

    <div class="map-records">
        <div class="map-record">
            <h2>{{ $field1 }}</h2>
            {{ if eq $map.category "parkour" }}
                {{ partial "records" $map.recordsReversed }}
            {{ else }}
                {{ partial "records" $map.records }}
            {{ end }}
        </div>

        <div class="map-record">
            <h2>{{ $field2 }}</h2>
            {{ if eq $map.category "parkour" }}
                {{ partial "records" $map.records }}
            {{ else }}
                {{ partial "records" $map.recordsReversed }}
            {{ end }}
        </div>
    </div>

{{ else }}

    <a href="https://discord.gg/2WNNURP" target="_blank">Report this map on Discord</a>

{{ end }}