{{ with $name := index $.Site.Data.playernames .Page.File.BaseFileName }}
{{ with $player := index $.Site.Data.players $name }}
    <h1>{{ $player.name }} <sup>{{ len $player.maps }}</sup></h1>

    {{ if $player.isAuthor }}
    <a href="/authors/{{ $player.url }}/">Maps</a>
    <br />
    <br />
    {{end}}

    <h2>Firsts / Completions</h2>

    <span>{{ $player.total.firsts }} / {{ $player.total.completions }}</span><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Firsts</th>
                <th scope="col">Completions</th>
            </tr>
        </thead>
        <tbody>
            {{ range $catname, $count := $player.completions }}
            {{ $caturl := (replace $catname "-" "/") }}
            {{ $cat := index $.Site.Data.categories $catname }}
            <tr>
                <td scope="row">
                    {{ if ne $catname "removed" }}
                        <a href="/categories/{{ $caturl }}/">
                            <i class="menu-icon" style="background-image: url({{ $cat.icon }});{{ if $cat.iconHeight }}height:{{ $cat.iconHeight }};{{ end }}{{ if $cat.iconWidth }}width:{{ $cat.iconWidth }};{{ end }}"></i>
                            {{ $cat.fullTitle }}
                        </a>
                    {{ else }}
                        <i class="menu-icon" style="background-image: url({{ $cat.icon }});{{ if $cat.iconHeight }}height:{{ $cat.iconHeight }};{{ end }}{{ if $cat.iconWidth }}width:{{ $cat.iconWidth }};{{ end }}"></i>
                        {{ $cat.fullTitle }}
                    {{ end }}
                </td>
                <td>{{ int (index $player.firsts $catname) }}</a></td>
                <td>{{ int $count }}</td>
                <td><i class="completions-toggle arrow right"></i></td>
            </tr>
            <tr class="player-completions">
                <td scope="row"></td>
                <td></td>
                <td colspan="2">
                    {{ range $idx, $mapid := sort $player.maps }}
                        {{ $map := index $.Site.Data.maps (string $mapid) }}
                        {{ if $map }}
                            {{ if eq (lower $map.category) $catname }}
                                {{ if eq $catname "removed" }}
                                    <span>@{{ int $mapid }}</span><br />
                                {{ else }}
                                    <a href="/maps/{{ int $mapid }}">@{{ int $mapid }}</a>{{ if in $player.firstInMap $mapid }} <b>(First)</b>{{ end }}<br />
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            {{ if eq $catname "removed" }}
                                <span>@{{ int $mapid }}</span><br />
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Completions</th>
            </tr>
        </thead>
        <tbody>
            {{ range $name, $maps := $player.mapsByAuthor }}
            {{ $author := index $.Site.Data.authors $name }}
            <tr>
                <td scope="row">
                    <a href="/authors/{{ $author.url }}/">
                        {{ $author.name }}
                    </a>
                </td>
                <td>{{ len $maps }}</td>
                <td><i class="completions-toggle arrow right"></i></td>
            </tr>
            <tr class="player-completions">
                <td scope="row"></td>
                <td></td>
                <td colspan="2">
                    {{ range $mapid := sort $maps }}
                        {{ $map := index $.Site.Data.maps (string $mapid) }}
                        {{ if $map }}
                            {{ if eq (lower $map.category) "removed" }}
                                <span>@{{ int $mapid }}</span><br />
                            {{ else }}
                                <a href="/maps/{{ int $mapid }}">@{{ int $mapid }}</a>{{ if in $player.firstInMap $mapid }} <b>(First)</b>{{ end }}<br />
                            {{ end }}
                        {{ else }}
                            <span>@{{ int $mapid }}</span><br />
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
{{ else }}
    <a href="https://discord.gg/2WNNURP" target="_blank">Report this page on Discord</a>
{{ end }}
{{ else }}
    <a href="https://discord.gg/2WNNURP" target="_blank">Report this page on Discord</a>
{{ end }}