{{ with $player := index $.Site.Data.players .Page.File.BaseFileName }}

    {{ $firsts := 0 }}
    {{ $completions := 0 }}

    {{ range $catname, $count := $player.firsts }}
        {{ if ne $catname "removed" }}
            {{ $firsts = add $firsts $count }}
        {{ end }}
    {{ end }}

    {{ range $catname, $count := $player.completions }}
        {{ if ne $catname "removed" }}
            {{ $completions = add $completions $count }}
        {{ end }}
    {{ end }}

    <h1>{{ replace (humanize $.Page.File.BaseFileName) " " "_" }} <sup>{{ len $player.maps }}</sup></h1>

    {{ if $player.created }}
    {{ $authorurl := lower (replace $.Page.File.BaseFileName "#" "%23") }}
    <a href="/authors/{{ $authorurl }}/">Maps</a>
    <br />
    {{end}}

    <h2>Firsts / Completions</h2>

    <span>{{ $firsts }} / {{ $completions }}</span><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Firsts</th>
                <th scope="col">Completions</th>
            </tr>
        </thead>
        <tbody>
            {{ range $catname, $count := $player.completions }}
            {{ $caturl := (replace $catname "-" "/") }}
            {{ $cat := index $.Site.Data.categories $catname }}
            <tr>
                <td scope="row">
                    {{ if ne $catname "removed" }}
                        <a href="/categories/{{ $caturl }}/">
                            <i class="menu-icon" style="background-image: url({{ $cat.icon }});{{ if $cat.iconHeight }}height:{{ $cat.iconHeight }};{{ end }}{{ if $cat.iconWidth }}width:{{ $cat.iconWidth }};{{ end }}"></i>
                            {{ $cat.title }}
                        </a>
                    {{ else }}
                        <i class="menu-icon" style="background-image: url({{ $cat.icon }});{{ if $cat.iconHeight }}height:{{ $cat.iconHeight }};{{ end }}{{ if $cat.iconWidth }}width:{{ $cat.iconWidth }};{{ end }}"></i>
                        {{ $cat.title }}
                    {{ end }}
                </td>
                <td>{{ int (index $player.firsts $catname) }}</a></td>
                <td>{{ int $count }}</td>
                <td><i class="completions-toggle arrow right"></i></td>
            </tr>
            <tr class="player-completions">
                <td scope="row"></td>
                <td></td>
                <td colspan="2">
                    {{ range $idx, $mapid := sort $player.maps }}
                        {{ $map := index $.Site.Data.maps (string $mapid) }}
                        {{ if $map }}
                            {{ if eq (lower $map.category) $catname }}
                                {{ if eq $catname "removed" }}
                                    <span>@{{ int $mapid }}</span><br />
                                {{ else }}
                                    <a href="/maps/{{ int $mapid }}">@{{ int $mapid }}</a><br />
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            {{ if eq $catname "removed" }}
                                <span>@{{ int $mapid }}</span><br />
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Completions</th>
            </tr>
        </thead>
        <tbody>
            {{ range $authorname, $maps := $player.authors }}
            {{ $authorurl := lower (replace $authorname "#" "%23") }}
            <tr>
                <td scope="row">
                    {{ if ne $authorname "unknown" }}
                        <a href="/authors/{{ $authorurl }}/">
                            {{ replace (humanize $authorname) " " "_" }}
                        </a>
                    {{ else }}
                        Unknown
                    {{ end }}
                </td>
                <td>{{ len $maps }}</td>
                <td><i class="completions-toggle arrow right"></i></td>
            </tr>
            <tr class="player-completions">
                <td scope="row"></td>
                <td></td>
                <td colspan="2">
                    {{ range $idx, $mapid := sort $maps }}
                        {{ $map := index $.Site.Data.maps (string $mapid) }}
                        {{ if $map }}
                            {{ if eq (lower $map.category) "removed" }}
                                <span>@{{ int $mapid }}</span><br />
                            {{ else }}
                                <a href="/maps/{{ int $mapid }}">@{{ int $mapid }}</a><br />
                            {{ end }}
                        {{ else }}
                            <span>@{{ int $mapid }}</span><br />
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
{{ else }}

    <a href="https://discord.gg/2WNNURP" target="_blank">Report this page on Discord</a>

{{ end }}