
{{ $completions := dict }}
{{ $firsts := dict }}
{{ $toplist := slice }}
{{ $topfirst := slice }}

{{ range .Site.Data.maps }}
    {{ range first 5 .records }}
        {{ $nameLC := lower (trim .name " ") }}
        {{ $completions = (merge $completions (dict $nameLC (add 1 (or (index $completions $nameLC) 0)))) }}
    {{ end }}
    {{ range first 5 .recordsReversed }}
        {{ $nameLC := lower (trim .name " ") }}
        {{ $completions = (merge $completions (dict $nameLC (add 1 (or (index $completions $nameLC) 0)))) }}
    {{ end }}
{{ end }}

{{ range .Site.Data.maps }}
    {{ range first 1 .records }}
        {{ $nameLC := lower (trim .name " ") }}
        {{ $firsts = (merge $firsts (dict $nameLC (add 1 (or (index $firsts $nameLC) 0)))) }}
    {{ end }}
    {{ range first 1 .recordsReversed }}
        {{ $nameLC := lower (trim .name " ") }}
        {{ $firsts = (merge $firsts (dict $nameLC (add 1 (or (index $firsts $nameLC) 0)))) }}
    {{ end }}
{{ end }}

{{ range $name, $num := $completions }}
    {{ $toplist = $toplist | append (dict "name" $name "num" $num) }}
{{ end }}

{{ range $name, $num := $firsts }}
    {{ $topfirst = $topfirst | append (dict "name" $name "num" $num) }}
{{ end }}

<div class="section-container">
    <table class="table section">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Maps</th>
            </tr>
        </thead>
        <tbody>
            {{ range $idx, $top := first 10 (sort $toplist "num" "desc") }}
            <tr>
                <td>{{ add 1 $idx }}</td>
                <td><a href="/players/{{ (replace $top.name "#" "%23") }}/">{{ replace (humanize $top.name) " " "_" }}</a></td>
                <td>{{ $top.num }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <table class="table section">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Firsts</th>
            </tr>
        </thead>
        <tbody>
            {{ range $idx, $top := first 10 (sort $topfirst "num" "desc") }}
            <tr>
                <td>{{ add 1 $idx }}</td>
                <td><a href="/players/{{ (replace $top.name "#" "%23") }}/">{{ replace (humanize $top.name) " " "_" }}</a></td>
                <td>{{ $top.num }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
