
{{ $.Scratch.Set "completions" dict }}
{{ range .Site.Data.maps }}
    {{ range .records }}
        {{ $completions := $.Scratch.Get "completions" }}
        {{ $.Scratch.Set "completions" (merge $completions (dict .name (add 1 (or (index $completions .name) 0)))) }}
    {{ end }}
{{ end }}

{{ $.Scratch.Set "toplist" slice }}
{{ range $name, $num := .Scratch.Get "completions" }}
    {{ $.Scratch.Add "toplist" (dict "name" $name "num" $num) }}
{{ end }}

{{ $toplist := .Scratch.Get "toplist" }}

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Maps Completed</th>
        </tr>
    </thead>
    <tbody>
        {{ range $idx, $top := first 10 (sort $toplist "num" "desc") }}
        <tr>
            <td>{{ add 1 $idx }}</td>
            <td>{{ humanize $top.name }}</td>
            <td>{{ $top.num }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
